
.header-background {
  background: url('images/background.png') no-repeat center fixed;
  background-size: cover;
  padding: 18em;
  height: 100%;
}
.ui.inverted.segment{
  background: #000000;
  color: #00497bff
}

.sign-header {
  color: white;
}
